<div class="contenedor-principal">
    <div class="container">
        <div class="navigation">

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" >El mercado fresco</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">

                        <li><a [routerLink]="['/main']"><span class="glyphicon glyphicon-th"></span></a></li>
                        <li>

                            <a [routerLink]="['/basket']"><i class="glyphicon glyphicon-shopping-cart"><label class="badge badge-warning">{{comprados}}</label></i></a>


                        </li>

                        <li><a ><span class="glyphicon glyphicon-inbox"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></li>
                    </ul>
                </div>
            </nav>

        </div>
        <div class="parte-principal">
            <div class="parte-central">
                <div class="titulo-parte-central">
                    <div class="titulo">
                        <h3>Catalogo de Productos</h3>
                    </div>
                    <div class="search-section">
                        <form class="form-inline my-2 my-lg-0">
                            <h3>¿Qué esta pasando?</h3>
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar Producto" aria-label="Search" >

                        </form>
                    </div>

                </div>

            </div>
            <hr>

            <div class="parte-tienda" >

                <div class="parte-derecha">

                    <li class="list-group-item" *ngFor="let objects of objetosTotal2; let j = index">

                        <div class="contenido-div">
                            <img class="card-img-top imagen" src={{objects.imagen}} alt="Card image">
                            <div class="card-body">
                                <h3 class="card-title titulo">{{objects.name}}</h3>
                                <p class="card-text">Precio: {{objects.precio}}</p>
                                <p class="card-text">Subtotal: {{objects.subTotal}}</p>
                                <p class="card-text">Unidades: {{objects.cantidad}}</p>


                            </div>
                        </div>

                    </li>
                </div>

                <div class="parte-izquierda">
                    <div class="pagar" *ngIf="objetosTotal2.length > 0">
                        <h3>Total: {{totalCompra}} </h3>
                        <form  class="forma" #f="ngForm" (ngSubmit)="cancelar()">
                            <button type="submit" class="btn btn-primary opcion1" ngClick="cancelar()">Cancelar</button>
                        </form>
                        <form class="forma" #f="ngForm" (ngSubmit)="pagar()">
                            <button type="submit" class="btn btn-primary opcion2" ng-click="pagar()">Pagar</button>
                        </form>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
